<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BokTips</title>
</head>
<body>
    <header><h1>Välkommen till BokTips</h1></header>
    <h4>Skapa gärna ett konto!</h4>
    <%= yield %>
    <span></span>
</body>
</html>