<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BokTips</title>
</head>
<body>
    <nav class="menu"> 
        <ul>
            <h3>Info sidor</h3>
            <a href="/">Start sida & log in</a><br/>
            <a href="/about">Lite om oss</a><br />
            <a href="/bocker/index">Alla böcker</a><br />
            <% if @user != nil %> 
                <a href="/userpage/<%=@user['id']%>">Profil</a><br />
            <%end%>
        </ul>
    </nav>

    <%= yield %>
    <span></span>

    <footer>
        <p>Adress: Hattmakargatan</p>
        <p>Telefon: 070777070707070</p>
        <p>Mail: BokTips@mail.com</p>
    </footer>

    <script src="public/js/allt.js"></script>
</body>
</html>