<h1>Hello <%=@user["name"]%></h1>
<form class="formbox" action="/logout" method="post">
    <div class="button">
        <button type="submit" value="submit">Log out</button>
    </div>
    <div class="message"></div>
</form>


<%# fixa länk knapp userpage %>
<%# fixa logout knapp %>